.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.profile-pic-container {
  height: 10rem;
  width: 10rem;
  position: relative;
}

.profile-pic {
  border-radius: 50%;
  border: 1px solid gray;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
