<header>
  <div class="logo-title-section">
    <a [routerLink]="['/']">
      <div class="logo-container">
        <img ngSrc="/tamtour-logo.png" alt="Logo" fill priority />
      </div>
    </a>
    <h1 class="title">Voting</h1>
  </div>
  <div class="profile-section">
    @if (authService.isLoading()) {
      <p>Loading...</p>
    } @else {
      @if (authService.user()) {
        <a class="profile-badge" routerLink="/logout" title="Logout">
          <div class="profile-name">
            {{ authService.user()?.firstName }}
            {{ authService.user()?.lastName }}
          </div>
          <div class="profile-pic-container">
            <img
              class="profile-pic"
              [ngSrc]="profileImageUrl()"
              (error)="onProfileImageError($event)"
              alt="Profilbild"
              fill />
          </div>
        </a>
      }
    }
  </div>
</header>
