<header>
  <div class="logo-title-section">
    <a [routerLink]="['/']">
      <div class="logo-container">
        <img ngSrc="/tamtour-logo.png" alt="Logo" fill priority />
      </div>
    </a>
    <h1 class="title">Voting</h1>
  </div>
  <div class="profile-section">
    @if (authService.isLoading()) {
      <app-spinner />
    } @else if (authService.user()) {
      <a class="profile-badge" routerLink="/profile" title="Profil">
        <div class="profile-name">
          {{ authService.user()?.firstName }}
          {{ authService.user()?.lastName }}
        </div>
        <div class="profile-pic-container">
          <img
            class="profile-pic"
            [ngSrc]="profileImageUrl()"
            (error)="onProfileImageError($event)"
            alt="Profilbild"
            fill />
        </div>
      </a>
    }
  </div>
</header>
