@if (category(); as category) {
  <table class="full-width-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Voting Start</th>
      <th>Einreichung Start</th>
      <th>Einreichung Ende</th>
    </tr>
    <tr>
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
        {{ category.votingStart | date: 'short' }} /
        <app-time-remaining [target]="category.votingStart" />
      </td>
      <td>
        {{ category.submissionStart | date: 'short' }} /
        <app-time-remaining [target]="category.submissionStart" />
      </td>
      <td>
        {{ category.submissionEnd | date: 'short' }} /
        <app-time-remaining [target]="category.submissionEnd" />
      </td>
    </tr>
  </table>
} @else {
  <app-spinner>
    <span>Kategorie wird geladen...</span>
  </app-spinner>
}

@if (editFormVisible()) {
  <h3>Kategorie bearbeiten</h3>
  <app-category-form
    [defaultValues]="category()!"
    [loading]="editInProgress()"
    (formSubmit)="editFormSubmit($event)"
    (formCancel)="editFormVisible.set(false)" />
} @else {
  <div class="button-row">
    <app-button (trigger)="editFormVisible.set(true)">
      <span>Kategorie bearbeiten</span>
    </app-button>
    <app-button routerLink="../votes">
      <span>Daten auswerten</span>
    </app-button>
  </div>
}

<hr />

@if (candidates() !== null) {
  <table class="full-width-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Startnummer</th>
      <th>Aktionen</th>
    </tr>
    @for (candidate of candidates(); track candidate.id) {
      <tr>
        <td>{{ candidate.id }}</td>
        <td>{{ candidate.name }}</td>
        <td>{{ candidate.startNumber }}</td>
        <td>
          <app-button
            (trigger)="editCandidate(candidate)"
            [disabled]="
              editCandidateFormVisible() || addCandidateFormVisible()
            ">
            <span>Bearbeiten</span>
          </app-button>
        </td>
      </tr>
    }
  </table>
}

@if (editCandidateFormVisible()) {
  <h3>Kandidat #{{ editedCandidate()!.id }} bearbeiten</h3>
  <app-candidate-form
    [defaultValues]="editedCandidate()!"
    [loading]="editCandidateInProgress()"
    (formSubmit)="editCandidateFormSubmit($event)"
    (formCancel)="editCandidateFormVisible.set(false)" />
}

@if (addCandidateFormVisible()) {
  <h3>Kandidat erstellen</h3>
  <app-candidate-form
    [loading]="addCandidateInProgress()"
    (formSubmit)="addCandidateFormSubmit($event)"
    (formCancel)="addCandidateFormVisible.set(false)" />
} @else {
  <div class="button-row">
    <app-button
      (trigger)="addCandidateFormVisible.set(true)"
      [disabled]="editCandidateFormVisible()">
      <span>Kandidat erstellen</span>
    </app-button>
  </div>
}
