@if (categories$ | async; as categories) {
  <table class="full-width-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Voting Start</th>
      <th>Einreichung Start</th>
      <th>Einreichung Ende</th>
      <th colspan="2">Aktionen</th>
    </tr>
    @for (category of categories; track category.id) {
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          {{ category.votingStart | date: 'short' }} /
          <app-time-remaining [target]="category.votingStart" />
        </td>
        <td>
          {{ category.submissionStart | date: 'short' }} /
          <app-time-remaining [target]="category.submissionStart" />
        </td>
        <td>
          {{ category.submissionEnd | date: 'short' }} /
          <app-time-remaining [target]="category.submissionEnd" />
        </td>
        <td>
          <app-button
            [routerLink]="['/admin', 'categories', category.id, 'edit']">
            Bearbeiten
          </app-button>
        </td>
        <td>
          <app-button
            [routerLink]="['/admin', 'categories', category.id, 'votes']">
            Auswerten
          </app-button>
        </td>
      </tr>
    }
  </table>
} @else {
  <app-spinner>
    <span>Kategorien werden geladen...</span>
  </app-spinner>
}

@if (addFormVisible()) {
  <h3>Neue Kategorie erstellen</h3>
  <app-category-form
    [loading]="addInProgress()"
    (formSubmit)="addFormSubmit($event)"
    (formCancel)="addFormVisible.set(false)" />
} @else {
  <div class="button-row">
    <app-button (trigger)="addFormVisible.set(true)">
      <span>Neue Kategorie erstellen</span>
    </app-button>
  </div>
}
