@if (categories$ | async; as categories) {
  <table class="full-width-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Voting Start</th>
      <th>Einreichung Start</th>
      <th>Einreichung Ende</th>
      <th>Aktionen</th>
    </tr>
    @for (category of categories; track category.id) {
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          {{ category.votingStart | date: 'short' }} /
          <app-time-remaining [target]="category.votingStart" />
        </td>
        <td>
          {{ category.submissionStart | date: 'short' }} /
          <app-time-remaining [target]="category.submissionStart" />
        </td>
        <td>
          {{ category.submissionEnd | date: 'short' }} /
          <app-time-remaining [target]="category.submissionEnd" />
        </td>
        <td>
          <app-button [routerLink]="['/admin', 'categories', category.id]">
            Ansehen
          </app-button>
        </td>
      </tr>
    }
  </table>
} @else {
  <app-spinner>
    <span>Kategorien werden geladen...</span>
  </app-spinner>
}
