@let catDat = categoryData();
@if (catDat === null) {
  <h2>Kategorie</h2>
  <app-spinner>
    <span>Kategorie laden...</span>
  </app-spinner>
} @else {
  <h2>Kategorie {{ catDat.category.name }}</h2>
  <app-button routerLink="/">Zurück zur Startseite</app-button>

  @if (catDat.userState.disqualified) {
    <h3>Deine Teilnahme</h3>
    <app-alert
      type="danger"
      title="Disqualifiziert"
      message="Du wurdest für diese Kategorie disqualifiziert und kannst hier nicht abstimmen.">
      <div>
        Ist dies unerwartet, so lies dir bitte die
        <a routerLink="/rules">Regeln</a> durch und melde dich bei Fragen beim
        Veranstalter.
      </div>
    </app-alert>
  } @else {
    <app-category-vote [categoryData]="catDat" (updateData)="fetchData()" />
  }
}
