<table class="full-width-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User</th>
      @for (candidate of sortedCandidates(); track candidate.id) {
        <th scope="col" class="vertical">
          {{ candidate.name }} ({{ candidate.startNumber }})
        </th>
      }
      <th scope="col">Eingereicht</th>
      <th scope="col">Disqualifiziert</th>
    </tr>
  </thead>
  <tbody>
    @for (set of sortedSets(); track set.id) {
      <tr>
        <td>{{ set.id }}</td>
        <td>
          {{ set.votingUser.firstName }} {{ set.votingUser.lastName }} (#{{
            set.votingUser.id
          }}
          / {{ set.votingUser.accountEmail }})
        </td>
        @for (candidate of sortedCandidates(); track candidate.id) {
          <td
            [style.background-color]="calcColor(set.positionMap[candidate.id])">
            {{ set.positionMap[candidate.id] }}
          </td>
        }
        <td>
          @if (set.submitted) {
            ✅
            <app-button
              (trigger)="unsubmitSet(set.id)"
              [loading]="updatingSetIds().includes(set.id)">
              <span>Zurückziehen</span>
            </app-button>
          } @else {
            ❌
            <app-button
              (trigger)="submitSet(set.id)"
              [loading]="updatingSetIds().includes(set.id)">
              <span>Einreichen</span>
            </app-button>
          }
        </td>
        <td>
          @if (set.disqualified) {
            ☠️
            <app-button
              (trigger)="undisqualifySet(set.id)"
              [loading]="updatingSetIds().includes(set.id)">
              <span>Widerrufen</span>
            </app-button>
          } @else {
            <app-button
              (trigger)="disqualifySet(set.id)"
              [loading]="updatingSetIds().includes(set.id)">
              <span>Disqualifizieren</span>
            </app-button>
          }
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2" scope="row">Total Punkte</th>
      @for (candidate of sortedCandidates(); track candidate.id) {
        <td>
          {{ candidateResultMap().get(candidate.id)?.points }}
        </td>
      }
      <td colspan="2"></td>
    </tr>
    <tr>
      <th colspan="2" scope="row">Rang</th>
      @for (candidate of sortedCandidates(); track candidate.id) {
        <td
          [style.background-color]="
            calcColor(candidateResultMap().get(candidate.id)?.rank)
          ">
          {{ candidateResultMap().get(candidate.id)?.rank }}
        </td>
      }
      <td colspan="2"></td>
    </tr>
  </tfoot>
</table>
