@if (startedCategories().length > 0) {
  <h3>Begonnen</h3>

  <div class="category-list">
    @for (cat of startedCategories(); track cat.category.id) {
      <app-category-overview-item
        [category]="cat.category"
        [userState]="cat.userState"
        [displayEndCountdown]="true"
        [currentTime]="currentTime()" />
    }
  </div>
}

@if (startableCategories().length > 0) {
  <h3>Teilnahme möglich</h3>

  <div class="category-list">
    @for (cat of startableCategories(); track cat.category.id) {
      <app-category-overview-item
        [category]="cat.category"
        [userState]="cat.userState"
        [displayEndCountdown]="true"
        [currentTime]="currentTime()" />
    }
  </div>
}

@if (endedCategories().length > 0) {
  <h3>Eingereicht / Beendet</h3>

  <div class="category-list">
    @for (cat of endedCategories(); track cat.category.id) {
      <app-category-overview-item
        [category]="cat.category"
        [userState]="cat.userState"
        [clickable]="cat.userState.hasCreated" />
    } @empty {
      <p>Keine eingereichten oder beendeten Kategorien.</p>
    }
  </div>
}

@if (futureCategories().length > 0) {
  <h3>Zukünftig</h3>

  <div class="category-list">
    @for (cat of futureCategories(); track cat.category.id) {
      <app-category-overview-item
        [category]="cat.category"
        [userState]="cat.userState"
        [clickable]="false" />
    } @empty {
      <p>Keine zukünftigen Kategorien.</p>
    }
  </div>
}
