<div class="container" [ngClass]="{ 'full-width': fullWidth }">
  @if (showHeader) {
    <app-header />
  }
  @if (authService.isLoading()) {
    <div class="page-padding center">
      <app-spinner>
        <span>Benutzerdaten laden...</span>
      </app-spinner>
    </div>
  } @else {
    <div class="page-padding">
      @if (authService.error()) {
        <app-alert
          [ngStyle]="{ marginTop: '1rem', marginBottom: '1rem' }"
          type="danger"
          title="Serveranfrage fehlgeschlagen"
          [message]="authService.error()!" />
      }
      <router-outlet />
    </div>
  }
  @if (showFooter) {
    <app-footer />
  }
</div>
