.container {
  min-height: 100dvh;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.page-padding {
  flex-grow: 1;
  margin: 0 0.75rem 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
}

.page-padding.center {
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media (min-width: 576px) {
  .container {
    min-height: calc(100dvh - 1rem);
    border-radius: 5px;
    margin: 0.5rem auto;

    &.full-width {
      width: calc(100dvw - 1rem);
    }

    &:not(.full-width) {
      max-width: 560px;
    }
  }
}

app-footer {
  margin-top: auto;
}
