/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto', arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

/* Admin */

.full-width-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;

  & :is(th, td):not(.no-padding) {
    padding: 0.25rem;
    border: 1px solid black;
  }
}
