<h3>Deine Rangliste</h3>

<app-voting-position-orderer
  [candidates]="categoryData().candidates"
  [positionMap]="categoryData().positionMap"
  [editable]="
    !isSubmissionEndPassed() && !categoryData().userState.hasSubmitted
  "
  (changeMap)="handleMapUpdate($event)" />

@if (!isSubmissionEndPassed() && !categoryData().userState.hasSubmitted) {
  <div class="button-row">
    @if (updatedPositionMapIncludesChanges()) {
      <app-button
        (trigger)="saveVotingPositions()"
        [loading]="savingMapInProgress()">
        <span>Rangliste speichern</span>
      </app-button>
    } @else {
      <app-button [disabled]="true">
        <span>Rangliste gespeichert</span>
      </app-button>
    }
    <app-button variant="danger" (trigger)="handleResetMap()">
      <span>Rangliste zurücksetzen</span>
    </app-button>
  </div>
  <label>
    <input type="checkbox" [(ngModel)]="autoSaveEnabled" />
    Automatisch speichern
  </label>
}

<h3>Einreichen</h3>

@if (categoryData().userState.hasSubmitted) {
  <app-alert
    type="success"
    title="Rangliste eingereicht"
    message="Du hast deine Rangliste erfolgreich eingereicht.">
  </app-alert>
} @else if (!isSubmissionStartPassed()) {
  <app-alert
    type="info"
    title="Einreichungsphase noch nicht begonnen"
    message="Die Einreichungsphase hat noch nicht begonnen. Kehre während der Einreichungsphase hierhin zurück, um deine Rangliste einzureichen. Bis dahin kannst du die Rangliste jederzeit anpassen und zwischenspeichern.">
    <div>
      Sie dauert von
      <b>
        {{
          categoryData().category.submissionStart
            | date: "dd.MM.yyyy HH:mm 'Uhr'"
        }}
      </b>
      bis
      <b>
        {{
          categoryData().category.submissionEnd | date: "dd.MM.yyyy HH:mm 'Uhr'"
        }}</b
      >.
    </div>
  </app-alert>
} @else if (isSubmissionEndPassed()) {
  <app-alert
    type="danger"
    title="Einreichungsphase verpasst"
    message="Die Einreichungsphase ist bereits vorbei und du hast deine Rangliste NICHT innerhalb der Frist eingereicht.">
  </app-alert>
} @else {
  @if (updatedPositionMapIncludesChanges()) {
    <app-alert
      type="warning"
      title="Ungespeicherte Änderungen"
      message="Bitte speichere deine Rangliste, bevor du sie einreichen kannst.">
    </app-alert>
  } @else if (!isMapValid()) {
    <app-alert
      type="warning"
      title="Unvollständige Rangliste"
      message="Du kannst deine Rangliste erst einreichen, wenn du alle Kandidaten geordnet hast.">
    </app-alert>
  } @else {
    <app-alert
      type="info"
      title="Rangliste einreichen"
      message="Du kannst deine Rangliste nun einreichen. Danach kannst du sie nicht mehr ändern.">
      <app-button
        (trigger)="submitVote()"
        [loading]="submittingVoteInProgress()">
        Rangliste einreichen
      </app-button>
    </app-alert>
  }
  <p>
    Die Einreichungsphase endet am
    {{
      categoryData().category.submissionEnd
        | date: "dd. MMMM yyyy 'um' HH:mm 'Uhr'"
    }}. Du hast noch
    <b>
      <app-time-remaining
        [target]="categoryData().category.submissionEnd"
        [currentOverride]="currentTime()" /> </b
    >.
  </p>
}
