.category-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.category-item.clickable {
  cursor: pointer;
}

.category-item.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.category-item h4 {
  margin: 0;
}

.status {
  &.bad {
    color: red;
  }

  &.good {
    color: green;
  }

  &.neutral {
    color: black;
  }
}
