<h2>Registrieren</h2>

<p>
  Deine Daten wurden automatisch aus deinem Google-Konto übernommen. Bitte setze
  hier deinen echten Namen, falls du dies nicht bereits getan hast.
</p>

<form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
  <label>
    E-Mail:
    <input
      type="email"
      [disabled]="true"
      [value]="authService.user()?.accountEmail" />
  </label>

  <label>
    Vorname:
    <input formControlName="firstName" />
  </label>
  @if (
    nameForm.get('firstName')?.invalid && nameForm.get('firstName')?.touched
  ) {
    <div class="error">Vorname ist erforderlich.</div>
  }

  <label>
    Nachname:
    <input formControlName="lastName" />
  </label>
  @if (nameForm.get('lastName')?.invalid && nameForm.get('lastName')?.touched) {
    <div class="error">Nachname ist erforderlich.</div>
  }

  <label>
    <div>
      Ich habe die <a routerLink="/rules" target="_blank">Regeln</a> gelesen und
      akzeptiere sie:
    </div>
    <input type="checkbox" formControlName="confirmRules" />
  </label>
  @if (nameForm.get('lastName')?.invalid && nameForm.get('lastName')?.touched) {
    <div class="error">Nachname ist erforderlich.</div>
  }

  <app-button
    type="submit"
    [disabled]="nameForm.invalid"
    [loading]="requestInProgress()">
    <span>Registrierung abschliessen</span>
  </app-button>
</form>
