.button {
  display: inline flex;
  padding: 0.4rem 0.7rem;
  font-weight: bold;
  color: var(--btn-text-color);
  background-color: var(--btn-background-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }

  &.button-primary {
    --btn-background-color: #007bff;
    --btn-text-color: #ffffff;
    --btn-hover-background-color: #0056b3;
  }

  &.button-danger {
    --btn-background-color: #dc3545;
    --btn-text-color: #ffffff;
    --btn-hover-background-color: #a71d2a;
  }
}
